section.section-login {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 103, 216, 0.568);
}

div.form {
    background-color: rgb(245, 245, 245);
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20%;
    height: 40%;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.164);

}

div.form h1.login-title {
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 0, 0, 0.562);
}

div.email {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s all;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(109, 109, 109, 0.377);
    height: 26px;
    width: 63%;
}

div.email:hover {
    /* background-color: rgba(255, 255, 255, 0.45); */
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
    height: 30px;
    width: 65%;
}

div.password {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s all;
    border-radius: 6px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(109, 109, 109, 0.377);
    height: 26px;
    width: 63%;
}

div.password:hover {
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
    height: 30px;
    width: 65%;
}

input {
    border: none;
    border-radius: 6px;
    background-color: transparent;
    height: 100%;
    text-indent: 5px;
    width: 100%;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.363);
    margin: 0 auto;
    font-weight: bold;
}

div.btn {
    color: rgba(0, 0, 0, 0.562);
    height: 30px;
    width: 20%;
    border-radius: 6px;
    border: 0.5px solid rgba(109, 109, 109, 0.377);
    text-align: center;
    position: absolute;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s all;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.btn:hover {
    height: 33px;
    width: 22%;
    cursor: pointer;
}

a.btn-link {
    text-decoration: none;
    line-height: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.562);
    width: 100%;
    height: 100%;
}

