div.main {
    background-color: rgb(186, 203, 240);
    height: 5.5vh;
    width: 100%;
    box-shadow: 50px 0px rgb(0, 0, 0);    
    display: flex;
    z-index: 99;
}

div.main h1.header-title {
    font-family: 'Courier New', Courier, monospace;
    line-height: 5.5vh;
    padding-left: 1%;
    color: rgba(0, 0, 0, 0.733);
    width: 40%;
    font-size: 2.5vh;
}

div.user {
    position: absolute;
    text-align: center;
    left: 94.8%;
    width: auto;
    height: 5.5vh;

}

div.user img {
    position: relative;
    top: 18%;
    right: 1%;
    margin: 0 auto;
    border: 0; 
    width: 3.3vh;
    height: auto;   
}

div.user img:hover {
    cursor: pointer;
}