section.content-calendar {
    height: 100%;
    width: 100%;
}

div.calendar-header {
    position: relative;
    top: 2%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 10%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vh;
    font-weight: 900;
    font-weight: 100;
    /* color: rgba(0, 0, 0, 0.733); */
}

div.calendar-header p.month {
    position: relative;
    padding-left: 3%;
}

div.calendar-header p.year {
    position: relative;
    padding-right: 3%;
}

table.table {
    position: relative;
    top: 4%;
    left: 10%;
    height: 85%;
    width: 80%;
    /* border-top: 0.1vh solid rgba(134, 134, 134, 0.753); */
    /* border-right: 0.1vh solid rgba(134, 134, 134, 0.753); */
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.164);

}

tr.row-header {
    height: 3%;
    width: 100%;
    color: rgba(0, 0, 0, 0.733);
    font-size: 1.7vh;
}

tr.row-header p {
    padding-top: 1%;
}

tr.row-table {
    width: 100%;
    /* height: 19.4%; */
    /* border-bottom: 0.1vh solid rgba(134, 134, 134, 0.753); */
}

div.field-left {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: whitesmoke;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

td.field {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: inline-block; */
    border-left: 0.1vh solid rgba(134, 134, 134, 0.753);
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    background-color: whitesmoke;
    font-weight: 400;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

div.field p {
    position: relative;
    margin: 0 auto;
}
